@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: #79AC78; 
    --secondary-color: #000E01;
    --third-color: #FFFFFF;
    --color-button: #618264;
    --font-family1: "Inter", serif;
    --font-family2: "IBM Plex Sans", serif;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    font-size: 10px;
    overflow: none;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
nav{
    display: flex; 
    padding: 3.5rem;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family1);
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 5rem;
    font-size: 2rem;
    font-weight: 400;
}
.nav-links a {
    position: relative;
    text-decoration: none;
    color:#000E01;
    transition:color 0.4s;
    
}

.nav-links a:hover{
    color: #79AC78;
}
a.link{
    color: #79AC78;
}
.link::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 40%;
    transform: translate(-50%);
    width: 75%;
    height: 2px;
    background-color: var(--primary-color);
    transition: with 0.3s ease-in-out;
}

button{
width: 14rem;
height: 5rem;
margin-right: 2rem;
font-size: 1.6rem; 
background-color: #618264;
color: #FFFFFF;
border-radius: 3rem;
transition: background-color 0.4s;
}
button:hover{
background-color: #79AC78;
}
.menu{
    display: none;
}

@media only screen and (width <= 431px){
    body{
        width: 100vw;
    }
    
    .nav-links {
        display:none;
        background-color: white;
      }  
    button{
    display:none;
   }
  
  .menu{
    width: 5rem;
    height: 4rem;
    display: flex;
  }

}
    
