@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: #79AC78; 
    --secondary-color: #000E01;
    --third-color: #FFFFFF;
    --color-button: #618264;
    --font-family1: "Inter", serif;
    --font-family2: "IBM Plex Sans", serif;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    font-size: 10px;
    overflow: none;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
nav{
    display: flex; 
    padding: 3.5rem;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family1);
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 5rem;
    font-size: 2rem;
    font-weight: 400;
}
.nav-links a {
    position: relative;
    text-decoration: none;
    color:#000E01;
    transition:color 0.4s;
    
}

.nav-links a:hover{
    color: #79AC78;
}
a.link{
    color: #79AC78;
}
.link::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 40%;
    transform: translate(-50%);
    width: 75%;
    height: 2px;
    background-color: var(--primary-color);
    transition: with 0.3s ease-in-out;
}

button{
width: 14rem;
height: 5rem;
margin-right: 2rem;
font-size: 1.6rem; 
background-color: #618264;
color: #FFFFFF;
border-radius: 3rem;
transition: background-color 0.4s;
}
button:hover{
background-color: #79AC78;
}
.menu{
    display: none;
}

.section1 {
    display: flex;
    gap: 4rem;
}
.actu {
    flex: 1;
    width: 841.64px;
    height: 622px;
    margin-top: 30px;
    margin-left: 64px;
    
}
.head {
    position: relative;
    overflow: hidden;
    color: #ffffff;
    border-radius: 20px;
    width: 841.64px;
    height: 622px;
    display: flex;
}
.head img {
    width: 840.64px;
    border-radius: 20px;
    height: 622px;
    object-fit: cover;
}
.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(10.82deg, rgba(0, 0, 0, 0.95) 1.55%, rgba(0, 0, 0, 0) 51.18%);

}
.head .side{
    position: absolute;
    width: 15px;
    height: 142px;
    margin-top: 42.5rem;
    margin-left: 3rem;
    background-color: var(--primary-color);

}
.head .text {
    position: absolute;
    width: 674px;
    height: 101px;
    margin-top: 43rem;
    margin-left: 7rem;
    font-family: var(--font-family2);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.head .text b {
    font-weight: 700;
    font-size: 3.5rem;
}
.head .text .date {
    font-size: 20px;
    line-height: 26px;
}
.side1 {
    flex: 1;
    width: 50vw;
    height: 50vh;
    margin-top: 30px;
    padding-bottom: 5rem;
}
.side1 .title {
    display: flex;
    font-family: var(--font-family2);
}
.side1 .title .sign {
    background-color: var(--primary-color);
    width: 15px;
    height: 8vh;
    margin-top: -.5rem;
    margin-left: 20px;
}
.side1 .title p {
    width: 50vw;
    height: 2.2vh;
    margin-top: 8px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 26px;
}
.primary {
    margin-right: 25px;
    display: flex;
    gap: 3rem;
    font-family: var(--font-family2);
    padding-bottom: 2.5rem;
    width: 35vw;
}
.primary img {
    flex: 1;
    width: 50vw;
    height: 15.5rem;
    margin-top: 18px;
    margin-left: 20px;
    border-radius: 10px;

}
.primary .txt {
    flex: 1;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.primary .txt h1 {
    width: 14vw;
    height: 12vh;
    margin-top: 18px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    padding-right: 25px;
    font-family: var(--font-family2);
}
.primary .txt p {
    width: 15vw;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: var(--font-family3);
}
.images{
    display: flex;
    padding: 4.2rem;
   justify-content:space-between ;
}
.img{
    width:28.5rem;
    height:30rem;
}
h4{
    color: var(--primary-color);
    padding: 1rem;
}
.images .vincent p{
    color: var(--secondary-color);
    padding-left: 1rem;
    font-size: 1.5rem;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
}
.section3  h1 {
  font-weight: 600;
  font-family: var(--font-family2);
  font-size: 4.3rem;
  text-align: center;
  line-height: 62.4px;
  height: 5.8rem;
  width: 110rem;
}
.section3  iframe {
    height: 50rem;
    width: 100rem;
    border-radius: 2rem;
}
.canal{
    display: flex;
    padding: 2rem;
    margin-top: 5rem;
}
.titre{
margin-top: 8rem;
margin-bottom: 8rem;
font-size: 4rem;
text-align: center;
font-family: var(--font-family1);
}
.img_canal{
    flex: 1;
}
.img_canal_matin{
    width: 718px;
    height: 441px;
}
.canal_matin{
    flex: 1;
    margin: 5rem;
}

.matin{
    font-size: 4rem;
    color: #618264;
}
.paragraphe{
  margin-top: 5rem;
  font-size: 2rem;
}
.canal_paragraphe{
    margin-top:4rem;
    font-size: 2rem;
}
.icon{
       width: 20rem;
       height: 15rem;
}
.section5 {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 10rem;
}

.card {
    text-align: center;
    width: 35rem;
}

.image-container {
    width: 35rem;
    height: 35rem; 
    overflow: hidden; 
    border-radius: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container .height{
    width: 34rem;
    height: 34rem;
    border: solid 1px;
}

.image-container .presse{
    width: 32rem;
    height: 19.7rem;
    margin-top: 7rem;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zoom et recadrage de l'image */
    position: relative;
}

.schedule {
    font-family: var(--font-family1);
    color: var(--primary-color);
    padding: 5px;
    line-height: 1.45rem;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
}

.title {
    font-family: var(--font-family2);
    font-size: 21px;
    font-weight: 600;
    font-weight: bold;
    text-align: left;
    line-height: 31.2px;
}

.comment{
    display: flex;
    padding: 4.4rem;
    margin-top: 4rem;
    gap: 5rem;
}
.comment_texte{
    flex: 1;
}
.comment_images{
    flex: 1;
}
.c_comment{
    font-size: 4rem;
    color: #79AC78;
    margin-top: 6rem;

}
.img_comment{
    width: 681px;
    height: 471px;
}
.lorem{
    margin-top: 5rem;
    font-size: 2rem;
}
.canal_international{
    font-size: 2rem;
    margin-top: 4rem;
}
.icon-image{
    width: 20rem;
    height: 15rem;
}

@media only screen and (width <= 431px){
    body{
        width: 100vw;
    }
    
    .nav-links {
        display:none;
        background-color: white;
      }  
    button{
    display:none;
   }
  
  .menu{
    width: 5rem;
    height: 4rem;
    display: flex;
  }

  .section1{
    display: block;
    width: 35rem;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
    justify-content: center;
  }
  .actu {
    width: 100%;
    height: 100%;
    margin-top: 0;
    border-radius: 0;
    margin-left: 2.3rem;
    margin-bottom: 4rem;    
}
  .head {
    position: relative;
    width: 110%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}
.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(10.82deg, rgba(0, 0, 0, 0.95) 1.55%, rgba(0, 0, 0, 0) 51.18%);

}

.head img {
    width: 105%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}
.head .side{
    position: absolute;
    width: 2.5vw;
    height: 10.5vh;
    margin-top: 19rem;
    margin-left: 3rem;
    background-color: var(--primary-color);
}

.head .text {
    position: absolute;
    width: 70vw;
    height: 100vh;
    margin-top: 18.6rem;
    margin-left: 4.6rem;
    font-family: var(--font-family2);
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.head .text b {
    font-weight: 600;
    font-size: 1.8rem;
}
.head .text .date {
    font-size: 1.25rem;
    line-height: 2rem;
}

.side1 {
    width: 90%;
    height: 100%;
    margin-top: 1rem;
    padding-bottom: 3rem;
}
.side1 .title {
    display: flex;
    font-family: var(--font-family2);
    padding-bottom: 1rem;
}
.side1 .title .sign {
    background-color: var(--primary-color);
    width: 1.5rem;
    height: 3.5rem;
    margin-top: 0;
    margin-left: 3rem;
}
.side1 .title p {
    width: 100vw;
    height: 2.2vh;
    margin-top: .5rem;
    margin-left: 10px;
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 26px;
}
.primary {
    margin-right: 0;
    width: 100%;
    display: flex;
    gap: 2;
    font-family: var(--font-family2);
    padding-bottom: 2rem;
}
.primary img {
    flex: 2;
    width: 20vw;
    height: 25vh;
    margin-top: 18px;
    margin-left: 2.5rem;
    border-radius: 10px;

}
.primary .txt {
    flex: 1;
    width: 1vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
.primary .txt h1 {
    width: 40vw;
    height: 10vh;
    margin-top: 18px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    padding-right: 25px;
    font-family: var(--font-family2);
}
.primary .txt p {
    width: 42vw;
    font-weight: 400;
    font-size: 1.3rem;
    font-family: var(--font-family3);
}
hr{
    border: solid .1px;
    width: 37.6rem;
    margin-left: 2.5rem;
}
.images{
    flex: 1;
   padding: 0;
   margin-right: 20rem;
}
.img{
    border-radius: 0;
    width: 35rem;
    height: 30rem;
}
.vincent{
    padding-left: -2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
}
.slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
}
.h4{
    padding-right: 2rem;
}

.section3 {
    display: block;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
}
.section3  h1 {
  font-weight: 600;
  font-family: var(--font-family2);
  font-size: 2rem;
  margin-left: 1rem;
  text-align: center;
  line-height: 3rem;
  height: 5.8rem;
  width: 40rem;
}
.section3  iframe {
    height: 22rem;
    width: 40rem;
    border-radius: 0;
    margin: 1.5rem;
}
.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    padding: 10px;
}
.images{
    flex: 1;
   padding: 0;
   margin-right: 20rem;
}
.img{
    border-radius: 0;
    width: 35rem;
    height: 30rem;
}
.vincent{
    padding-left: -2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
}
.slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
}
.h4{
    padding-right: 2rem;
}
.canal{
    flex-direction: column;
   margin-top: 0;
   margin-right: 0;
   padding-left: 2rem;
   padding-bottom: 0;

}
.img_canal_matin{
    width: 38rem;
    height: 30rem;
}
.titre{
    width: 30rem;
    font-size:2rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    margin-left: 5rem;
}
.canal_matin{
    margin-top: 0;
    margin-left: 1rem;
}
.paragraphe{
    font-size: 1.5rem;
    margin-top: 2rem;
}
.canal_paragraphe{
    font-size: 1.5rem;
    margin-top: 2rem;
}
.icon{
   height: 8rem;
}
.section5 {
    display: flex;
    justify-content: space-around;
    gap: 0rem;
    margin-top: 0;
    margin-left: 1.5rem;
}

.card {
    flex: 80% 80% 80%;
    scroll-snap-align: center;
    background: #fff;
    padding: 0;
    width: 20rem;
    border-radius: 10px;
    text-align: center;
}

.image-container {
    width: 18rem;
    height: 15rem; 
    overflow: hidden;
    border-radius: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container .height{
    width: 15rem;
    height: 20rem;
    border: none;
}

.image-container .presse{
    width: 13rem;
    height: 9rem;
    margin: 5rem .5rem;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zoom et recadrage de l'image */
    position: relative;
}

.schedule {
    font-family: var(--font-family1);
    color: var(--primary-color);
    padding-left: 0;
    padding-bottom: 1rem;
    line-height: 1.45rem;
    font-size: 12px;
    font-weight: 400;
    width: 12rem;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
}

.title {
    font-family: var(--font-family2);
    font-size: 1.8rem;
    font-weight: 600;
    font-weight: bold;
    text-align: left;
    line-height: 2.5rem;
}
.comment{
    flex-direction: column-reverse;
    gap: 1rem;
    padding-left: 1.3rem;
}
.img_comment{
    width: 38rem;
    height: 25rem;
}
.icon-image{
    height: 5rem;
}
.canal_international{
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 400;
}
.lorem{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}
.c_comment{
    margin-top: 1rem;
}

}    
